.env
.DS_Store
.idea/
.latticeflow
.agents
.mypy_cache
__pycache__

# Temporary files
guides/dataset-opencode/datasets/session_data
guides/dataset-opencode/datasets/opencode_traces.jsonl
guides/evaluation-init-from-zip-package/evaluation
guides/task-result-log-download-upload/results
**/.latticeflow.yaml

*venv*
