{% set body = body | fromjson %}
{
    "choices": [
      {% for choice in body.choices %}
      {
          "message": {{ choice.message | tojson }}
          {% if not loop.last %},{% endif %}
      }
      {% endfor %}
    ]
}