{
    "model": "{{ model_info.model_key }}",
    "messages": [
        {%- for message in input.messages -%}
        {
            "role": "{{ message.role }}",
            "content": "{{ message.content }}"
        }{%- if not loop.last -%},{%- endif -%}
        {%- endfor -%}
    ]
}
