{% if status_code != 200 %}
    {"error": "A non-200 status code ({{ status_code }}) was returned by the model."}
{% else %}
{% set response = body | fromjson %}
    {
        "choices": [
            {% for choice in response.choices %}
            {
                "message": {
                "role": {{ (choice.message.role if choice.message.role is defined and choice.message.role is not none else '') | tojson }},
                "content": {{ (choice.message.content if choice.message.content is defined and choice.message.content is not none else '') | tojson }}
                {% if choice.message.refusal is defined and choice.message.refusal is not none %}
                ,"refusal": {{ choice.message.refusal | tojson }}
                {% endif %}
            }
            }{% if not loop.last %},{% endif %}
            {% endfor %}
        ]
        {% if response.usage is defined and response.usage is not none %}
            {# Use `usage.num_prompt_tokens/num_completion_tokens` to integrate
               the token usage of the model.  #}
            ,"usage": {
                "num_prompt_tokens": {{ response.usage.prompt_tokens }},
                "num_completion_tokens": {{ response.usage.completion_tokens }}
            }
        {% endif %}
    }
{% endif %}
