{% set body = body | fromjson %}
{
    "choices": [
        {% for choice in body.choices %}
            {% set raw_msg = choice.message if choice.message is defined else {} %}
            {% set msg = raw_msg if raw_msg is mapping else {} %}
            {% set clean_msg = {} %}
            {% for k, v in msg.items() %}
                {% if k != "reference" %}
                {% set _ = clean_msg.update({k: v}) %}
                {% endif %}
            {% endfor %}
            {
                "message": {{ clean_msg | tojson }},
                "references": {{ (msg.reference if msg.reference is defined else []) | tojson }}
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}